.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    padding: 12px;
    border: 1px solid var(--border-color);
    cursor: grab;
    margin-bottom: 12px;
    margin-right: 12px;
    &:nth-of-type(3n) {
        margin-right: 0;
    }
    &:active {
        cursor: grabbing;
    }
}
.itemIconWrapper {
   user-select: none;
   pointer-events: none;
}
.itemIcon {
    width: 36px;
    height: 36px;
    
}
.itemText {
    
}